<mat-card>
    <h1>Edit Author</h1>
    <form #authorForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">

        <mat-form-field>
                <input 
                    matInput placeholder="Book author"
                    [(ngModel)] = "author"
                    name = "author">
        </mat-form-field>                   
        <div >
            <button mat-raised-button color="primary" [disabled]="!authorForm.form.valid">Submit</button>
            <button mat-raised-button [routerLink]="'/authors'" >Cancel</button>
        </div>
      </div>
    </form>
    </mat-card>
