<h1>Posts List</h1>
<div class="example-button-row">

</div>
<p *ngIf = "!(posts$ | async)">Loading...</p>
<mat-accordion>
  
    <mat-expansion-panel *ngFor = "let post of posts$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      by {{post.body}}   
      


    </mat-expansion-panel>
  </mat-accordion>
  

