<h1>Authors List</h1>

<p *ngIf = "!(books$ | async)">Loading...</p>
<mat-accordion>
  
    <mat-expansion-panel *ngFor = "let book of books$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{book.author}}
        </mat-panel-title>

       <button mat-raised-button color="primary" [routerLink]="'/authorform/' + book.id">
        Edit Author
        </button>

      </mat-expansion-panel-header>

    </mat-expansion-panel>
  </mat-accordion>
  

